
<h1> Sign Up to Play A&As Blackjack game! </h1>
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}


</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;" >
    <a href="/" class="w3-bar-item w3-button">A&A Blackjack Game</a>
    <img class="w3-image" src="/assets/ace.gif" alt="CARDS" width="70" height="80">
    
    <div class="w3-right w3-hide-small">
     
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
 
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
  
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->

  <div align="center">
  <h1> Sign Up Here </h1>
  <hr>
  <br>
  <h4> You must start with at least $50 in your account </h4>
  <%= render partial: "form" %>

        </div>
  </div>
  
  
  
  <hr>
  
  
  <br>
  <br>
  <br>
  
  
  <div align="center">
  <img class="w3-image" src="/assets/cardgif.gif" alt="CARDS" width="450" height="300">
  </div>
  
  
</body>

</html>


