<!DOCTYPE html>
<html>


<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}


</style>
<body>

<!-- Navbar  -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;" >
    <a href="/" class="w3-bar-item w3-button">A&A Blackjack Game</a>
  
    <div class="w3-right w3-hide-small">
    
      <a href="/login" class="w3-bar-item w3-button">Login</a>
      <img class="w3-image" src="/assets/ace.gif" alt="CARDS" width="70" height="80">
      <a href="users/new" class="w3-bar-item w3-button">Sign Up</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="/assets/KH.png" alt="CARDS" width="100" height="80">
  <img class="w3-image" src="/assets/QH.png" alt="CARDS" width="100" height="80">
  <img class="w3-image" src="/assets/JC.png" alt="CARDS" width="100" height="80">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
  
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
    <img src="/assets/blackjack_poster.jpg" class="img-fluid main-image" style="height:80vh">
    <br>
    <br>
    <img src="/assets/cards.jpg" class="img-fluid main-image" style="height:35vh">
    </div>
    
    
    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Blackjack</h1><br>
      <p class="w3-large">Blackjack is the American variant of a globally popular banking game known as Twenty-One, whose relatives include Pontoon and Vingt-et-Un. It is a comparing card game between one or more players and a dealer, where each player in turn competes against the dealer. Players do not compete against each other.</p>
        <h1 class="w3-center">Rules </h1><br>
        <p class="w3-large">
         Here are the full rules of the game.
      
      <li>As the name 21 implies, the object of the game is to come as close to 21 points as possible with your cards  without going over and having a higher total than the dealer.</li>
     <li> Aces may be counted as 1 or 11 points, 2 to 9 according to pip value, and tens and face cards count as ten points.</li>
      <li>The value of a hand is the sum of the point values of the individual cards. Except, a "blackjack" is the highest hand, consisting of an ace and any 10-point card, and it outranks all other 21-point hands.</li>
      <li>After the players have bet, the dealer will give two cards to each player and two cards to himself. One of the dealer cards is dealt face up. The facedown card is called the "hole card." </li>
     <li> If the dealer has an ace showing, he will offer a side bet called "insurance." This side wager pays 2 to 1 if the dealer's hole card is any 10-point card. Insurance wagers are optional and may not exceed half the original wager. </li>
    <li>If the dealer has a ten or an ace showing (after offering insurance with an ace showing), then he will peek at his facedown card to see if he has a blackjack. If he does, then he will turn it over immediately.</li>
     <li> If the dealer does have a blackjack, then all wagers (except insurance) will lose, unless the player also has a blackjack, which will result in a push. The dealer will resolve insurance wagers at this time. </li></p>
        </div>
  </div>
  
  
  
  <hr>
  
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</body>
</html>

